<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body>
  <div class="container mx-auto">
    <div class="text-center px-3 lg:px-0">
      <h1
        class="my-4 text-2xl md:text-3xl lg:text-5xl font-black leading-tight text-blue-900"
      >
      ¡Kpcito te enseña!
      </h1>

      <div class="flex flex-row p-12 bg-white my-10 rounded-2xl items-center drop-shadow-2xl gap-6">
        <div class="basis-1/4 ">
          <h2 
          class="w-full my-2 text-2xl font-black leading-tight text-center text-sky-500"
        >
        ¿Qué es un banco y cómo funciona?
        </h2 >
        <p class="text-justify text-black font-bold mb-8">
          Este video te ayuda a comprender el positivo impacto de las instituciones financieras en la vida de las personas, las empresas y la sociedad.
         </p>
        </div>
        <div class="basis-3/4">

            <iframe src="https://www.youtube.com/embed/NRJD5CI_RqQ" width="100%" height="400px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>



    
    <div class="flex flex-row p-12 bg-white my-10 rounded-2xl items-center drop-shadow-2xl gap-6 ">
        <div class="basis-1/4">
          <h2 
          class="w-full my-2 text-2xl font-black leading-tight text-center text-sky-500"
        >
        ¿Qué es un depósito bancario?
        </h2 >
        <p class="text-justify text-black font-bold mb-8">
          Los depósitos bancarios son productos financieros, se trata de un contrato en el cuál una de las partes,pone a disposición de una entidad financiera (banco, caja o cooperativa de crédito) dinero para que esta lo custodie y se lo devuelva con intereses, pasado el periodo de tiempo pactado.
          En el video vas a aprender sobre los tipos de depósitos que existen.
         </p>
        </div>
        <div class="basis-3/4">
      
            <iframe src="https://www.youtube.com/embed/Nwn6WJ8PHwY"width="100%" height="400px"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           
        </div>
    </div>
    <div class="flex flex-row p-12 bg-white my-10 rounded-2xl items-center drop-shadow-2xl gap-6">
        <div class="basis-1/4">
          <h2 
          class="w-full my-2 text-2xl font-black leading-tight text-center text-sky-500"
        >
        ¿Qué es el interés bancario?
        </h2 >
        <p class="text-justify text-black font-bold mb-8">
          El interés es el precio que se paga por el uso de un préstamo de dinero. Generalmente se expresa como un porcentaje anual sobre la suma prestada por parte de una institución financiera.
          Profundiza más con este video.
         </p>
        </div>
        <div class="basis-3/4">
        
            <iframe src="https://www.youtube.com/embed/TYjIsRWiB5s" width="100%" height="400px"title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           
        </div>
    </div>

    </div>
    
</div>
</body>
</html>