<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d374f6e163d4807c10a5fec7fd8b7633 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d374f6e163d4807c10a5fec7fd8b7633" ></div>
        
</body>
<script>
    
    
            var map_d374f6e163d4807c10a5fec7fd8b7633 = L.map(
                "map_d374f6e163d4807c10a5fec7fd8b7633",
                {
                    center: [-25.30234132846098, -57.58115713076387],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_81ca806ead0893b5b0fc551220c1053d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d374f6e163d4807c10a5fec7fd8b7633);
        
    
            var marker_5f3584856cc8ca53086d06d7a7f72c48 = L.marker(
                [-25.30101137649403, -57.57678821060722],
                {}
            ).addTo(map_d374f6e163d4807c10a5fec7fd8b7633);
        
    
            var icon_bb09315efc0c31c6329635b985eebd3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "credit-card", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5f3584856cc8ca53086d06d7a7f72c48.setIcon(icon_bb09315efc0c31c6329635b985eebd3a);
        
    
        var popup_ff51a04f71b1e9ad7f1513d8dd1b8de1 = L.popup({"maxWidth": "100%"});

        
            
                var html_10b4b96d114c5172d5cf8209e725768c = $(`<div id="html_10b4b96d114c5172d5cf8209e725768c" style="width: 100.0%; height: 100.0%;">             <div class="card" style="width: 350px;">             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEpS2aJwlDcjpE1IyzJkrEjOqRGPRA6EQi-QcnNgXjhA&s" class="card-img-top" alt="...">             <div class="card-body">             <h4><b class="card-title">Verduleria, La verdura anarquista</b></h4>             <p class="card-text"><h5><ul></li><li><b>Categoria:</b> Cooperativa</li><li><b>             Contacto: </b>0985345678</li><li><b>Para crear una cuenta presione: </b></li></p></ul></h5></p>             <a href="www.pancho.com" class="btn btn-primary" style="color: #fff; font-size: 18px; font-weigth: bolder;">Ir a la pagina</a>             </div>             </div></div>`)[0];
                popup_ff51a04f71b1e9ad7f1513d8dd1b8de1.setContent(html_10b4b96d114c5172d5cf8209e725768c);
            
        

        marker_5f3584856cc8ca53086d06d7a7f72c48.bindPopup(popup_ff51a04f71b1e9ad7f1513d8dd1b8de1)
        ;

        
    
    
            marker_5f3584856cc8ca53086d06d7a7f72c48.bindTooltip(
                `<div>
                     Click para mas info
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>